<div class="page-shell">

  <!-- HERO -->
  <section class="hero" data-aos="zoom-in">
    <video src="/imgs/project-1/sharanya_sandalwood_bannervid.mp4" autoplay loop muted playinline
      class="home-page-video"></video>

    <video src="/imgs/project-1/sharanya_sandalwood_bannervid_mob.mp4" autoplay loop muted playinline
      class="home-page-video-mob"></video>
  </section>

  <!-- ABOUT -->
  <section class="about" id="about">
    <div class="container">
      <div class="about-top">
        <div class="about-left" data-aos="fade-right">
          <h2>Managed Farmplots<br />With Private Sandal Valley</h2>
          <button class="cta-btn-1" (click)="scrollToForm()">Get Started</button>
        </div>

        <div class="about-right" data-aos="fade-left">
          <p>
            Sharanya Sandal Valley Farms represents a captivating blend of aesthetics, fostering a community-centric
            lifestyle within an eco-friendly expanse located on T Narasipura Road, near NH-Mysore-Malavali Road. Our
            vision is to reshape the essence of living and redefine the experience of acquiring real estate.
          </p>
        </div>

        <button class="cta-btn-2">Get Started</button>

      </div>

      <div class="about-cards">
        <div class="card big">
          <div class="content-align">
            <h3>List of Common Amenities</h3>
            <ul>
              <li>Clubhouse </li>
              <li>Common Kitchen Veg and Non-Veg Separate </li>
              <li>Swimming pool </li>
              <li>Dormitory stay </li>
              <li>Wooden Cottages </li>
              <li>Meditation Center </li>
              <li>Children play area </li>
              <li>Outdoor games (Cricket, Shuttle cock, Volley ball, Etc.,) </li>
              <li>Indoor games (Table tennis, Carrom, Chess, etc.) </li>
              <li>Event Space/lawn for small functions like birthday,anniversary etc. </li>
            </ul>

          </div>

          <div class="img">
            <img src="imgs/project-1/plant.png" alt="plant">
          </div>
        </div>

        <div class="feature-card small" data-aos="fade-up" data-aos-delay="100">
          <h3>Crops and Plantation details </h3>
          <p>Existing 15 -20 years old mango and
            coconut plantation and Mahagony and
            other fuits planation on the open
            spaces
          </p>
        </div>

        <div class="feature-card small" data-aos="fade-up" data-aos-delay="200">
          <h3>Crops and Plantation details </h3>
          <p>Plots are already existing with coconut
            and mango trees and few plots are
            empty where we have planted
            mahogany and few fruiting trees
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- BANNER -->
  <section class="banner">
    <div class="banner-image">
      <!-- <img src="imgs/project-1/hillview.png" alt="banner"/> -->
    </div>

    <div class="banner-content" data-aos="zoom-in-up">
      <h2>A Symphony Of Nature’s Bounty.</h2>
      <p>Where Nature’s Wisdom Embraces Us And The Land Blooms With Abundance</p>
      <button class="cta-btn white" (click)="goToImagePage()">
        Discover it in real time
        <span><img src="imgs/project-1/arrow.png" alt=""></span>
      </button>
    </div>

    <div class="stats-bar" data-aos="fade-up">
      <div class="stat-item">
        <img src="/imgs/project-1/land.png" alt="land">
        <div class="para">
          <p>Total Land</p>
        </div>
        <div class="head">
          <h3>25 Acres</h3>
        </div>
      </div>
      <div class="stat-item">
        <img src="/imgs/project-1/home.png" alt="">
        <p>Premium Plots</p>
        <h3>86</h3>
      </div>
      <div class="stat-item">
        <img src="/imgs/project-1/scale.png" alt="">
        <p>Plot Sizes</p>

        <h3>5989 - 10890 sq.ft</h3>
      </div>
      <div class="stat-item">
        <img src="/imgs/project-1/right.png" alt="">
        <p>Plot Sold</p>

        <h3>66</h3>
      </div>
      <div class="stat-item">
        <img src="/imgs/project-1/lock.png" alt="">
        <p>Available</p>
        <h3>20</h3>
      </div>
    </div>
  </section>

  <!-- HIGHLIGHTS -->
  <section class="highlights" id="projects">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>Amenities</h2>
        <p>Premium community lifestyle with leisure, dining, and sports facilities. Enjoy our clubhouse, swimming pool,
          and wooden cottages.</p>
      </div>

      <div class="highlight-grid">
        <div class="highlight-card" *ngFor="let card of highlights; let i = index" data-aos="fade-up"
          [attr.data-aos-delay]="i * 80">
          <div class="icon-head">
            <div class="highlight-icon"><img [src]="card.icon" alt="icon"></div>
            <small>{{ card.label }}</small>
          </div>
          <p *ngIf="(card.description)">{{ card.description }}</p>
          <ul>
            <li *ngFor="let point of card.points">{{ point }}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- AMENITIES -->
  <section class="amenities" id="gallery">
    <!-- <div class="amenities-head">
    <h2>Amenities</h2>
  </div> -->
    <div class="container">
      <div class="amenities-slider">
        <button class="slider-arrow left" (click)="prevAmenity()">‹</button>
        <!-- 
      <div class="amenity-side-card left-card" data-aos="fade-right">
        <img [src]="leftAmenity.image" [alt]="leftAmenity.title" />
      </div>

      <div class="amenity-main-card" data-aos="zoom-in">
        <img [src]="currentAmenity.image" [alt]="currentAmenity.title" />
        <div class="amenity-main-caption">{{ currentAmenity.title }}</div>
      </div>

      <div class="amenity-info" data-aos="fade-left">
       
        <div class="amenity-thumbs">
          <img [src]="rightAmenity.image" [alt]="rightAmenity.title" />
          <img [src]="nextRightAmenity.image" [alt]="nextRightAmenity.title" />
        </div>

      </div> -->

        <div class="slides" [style.transform]="'translateX(-' + currentAmenityIndex * 100 + '%)'">
          <img *ngFor="let img of amenities" [src]="img" class="slide" />
        </div>

        <button class="slider-arrow right" (click)="nextAmenity()">›</button>
      </div>
    </div>
  </section>
  <div class="">
   <div class="">
    <app-page-form></app-page-form>
   </div>

   <div class="">
    <video src=""></video>
   </div>
  </div>

  
  
