

<div class="page-shell">
  
    <!-- HERO -->
    <section class="hero" data-aos="zoom-in">
      <video src="/imgs/project-1/hill-view.mp4" autoplay loop muted playinline
        class="home-page-video"></video>
      <!-- <div class="hero-content">
        <h1>Sharanya Hillview Farms</h1>
      </div> -->
    </section>
  
    <!-- ABOUT -->
    <section class="about" id="about">
      <div class="container">
        <div class="about-top">
          <div class="about-left" data-aos="fade-right">
            <h2>Managed Farmplots<br />With Private Sandal Valley</h2>
            <button class="cta-btn">Get Started</button>
          </div>
  
          <div class="about-right" data-aos="fade-left">
            <p>
              Sharanya Sandal Valley Farms represents a captivating blend of aesthetics, fostering a community-centric
              lifestyle within an eco-friendly expanse located on T Narasipura Road, near NH-Mysore-Malavali Road. Our
              vision is to reshape the essence of living and redefine the experience of acquiring real estate.
            </p>
          </div>
        </div>
  
        <div class="about-cards">
  
  
          <div class="card big">
            <div class="content-align">
              <h3>Private Sandal Valley</h3>
              <p>
                Sharanya Sandal Valley Farms Represents A Captivating Blend Of
                Aesthetics, Fostering A Community-Centric Lifestyle Within
                An Eco-Friendly Expanse
              </p>
            </div>
  
            <div class="img">
              <img src="imgs/project-1/plant.png" alt="plant">
            </div>
          </div>
  
          <div class="feature-card small" data-aos="fade-up" data-aos-delay="100">
            <h3>Private Sandal Valley</h3>
            <p>Sharanya Sandal Valley Farms Represents
              A Captivating Blend Of Aesthetics, Fostering A Community-Centric...
            </p>
          </div>
  
          <div class="feature-card small" data-aos="fade-up" data-aos-delay="200">
            <h3>Private Sandal Valley</h3>
            <p>Sharanya Sandal Valley Farms Represents
              A Captivating Blend Of Aesthetics, Fostering A Community-Centric...
            </p>
          </div>
        </div>
      </div>
    </section>
  
    <!-- BANNER -->
    <section class="banner">
      <div class="banner-image" #bgImage>
        <!-- <img src="imgs/project-1/Rectangle 55.png" alt="banner"/> -->
      </div>
  
      <div class="banner-content" data-aos="zoom-in-up">
        <h2>A Symphony Of Nature’s Bounty.</h2>
        <p>Where Nature’s Wisdom Embraces Us And The Land Blooms With Abundance</p>
        <button class="cta-btn white" (click)="goToImagePage()">
          Discover it in real time
          <span><img src="imgs/project-1/arrow.png" alt=""></span>
        </button>
      </div>
  
      <div class="stats-bar" data-aos="fade-up">
        <div class="stat-item">
          <h3>15-20%</h3>
          <p>Annual Appreciation</p>
        </div>
        <div class="stat-item">
          <h3>₹50L+</h3>
          <p>Average Returns in 5 Years</p>
        </div>
        <div class="stat-item">
          <h3>100%</h3>
          <p>Legal Ownership</p>
        </div>
      </div>
    </section>
  
    <!-- HIGHLIGHTS -->
    <section class="highlights" id="projects">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>Project Highlights</h2>
          <p>Discover what makes our farmland investment opportunity exceptional.</p>
        </div>
  
        <div class="highlight-grid">
          <div class="highlight-card" *ngFor="let card of highlights; let i = index" data-aos="fade-up"
            [attr.data-aos-delay]="i * 80">
            <div class="highlight-icon"><img [src]="card.icon" alt="icon"></div>
            <small>{{ card.label }}</small>
            <h3>{{ card.title }}</h3>
            <p>{{ card.description }}</p>
          </div>
        </div>
      </div>
    </section>
  
    <!-- PRICING -->
    <section class="pricing-section">
      <div class="container">
        <div class="section-title light" data-aos="fade-up">
          <h2>Project Highlights</h2>
          <p>Discover what makes our farmland investment opportunity exceptional.</p>
        </div>
  
        <div class="pricing-grid">
          <div class="price-card">
  
            <div class="card-head">
              <h3>Starter Plot</h3>
              <small>1200 sq.ft</small>
              <h4>₹25 Lakhs</h4>
              <p>Expected ROI: 15-18% annually</p>
            </div>
  
            <div class="future-box">
              <span>Estimated Value in 5 Years</span>
              <strong>₹40-45 Lakhs</strong>
            </div>
  
            <button class="start-btn">Start now</button>
  
          </div>
          <div class="big-price-card">
            <!-- <div class="recommended-pill" *ngIf="item.recommended">⭐ Recommended</div> -->
  
  
            <div class="big-price-card-head">
              <div class="recommended">
                ★ Recommended
              </div>
              <h3>Premium Plot</h3>
              <small>2500 sq.ft</small>
              <h4>₹48 Lakhs</h4>
              <p>Expected ROI: 18-20% annually</p>
            </div>
  
            <div class="future-box">
              <span>Estimated Value in 5 Years</span>
              <strong>₹85-95 Lakhs</strong>
            </div>
  
            <button class="start-btn">Start now</button>
  
          </div>
  
          <div class="price-card">
  
            <div class="card-head">
              <h3>Starter Plot</h3>
              <small>1200 sq.ft</small>
              <h4>₹25 Lakhs</h4>
              <p class="roi">Expected ROI: 15-18% annually</p>
            </div>
  
            <div class="future-box">
              <span>Estimated Value in 5 Years</span>
              <strong>₹40-45 Lakhs</strong>
            </div>
  
            <button class="start-btn">Start now</button>
  
          </div>
        </div>
      </div>
    </section>
  
    <!-- AMENITIES -->
    <section class="amenities" id="gallery">
      <div class="amenities-head">
        <h2>Amenities</h2>
      </div>
      <div class="container">
        <div class="amenities-slider">
          <button class="slider-arrow left" (click)="prevAmenity()">‹</button>
  
          <div class="amenity-side-card left-card" data-aos="fade-right">
            <img [src]="leftAmenity.image" [alt]="leftAmenity.title" />
          </div>
  
          <div class="amenity-main-card" data-aos="zoom-in">
            <img [src]="currentAmenity.image" [alt]="currentAmenity.title" />
            <div class="amenity-main-caption">{{ currentAmenity.title }}</div>
          </div>
  
          <div class="amenity-info" data-aos="fade-left">
            <h2>Amenities</h2>
  
            <div class="amenity-thumbs">
              <img [src]="rightAmenity.image" [alt]="rightAmenity.title" />
              <img [src]="nextRightAmenity.image" [alt]="nextRightAmenity.title" />
            </div>
  
            <div class="amenities-line">
              <div class="progress-container">
                <div class="progress-bar" [style.width.%]="progressWidth"></div>
              </div>
              <div class="amenity-pagination">
                <button *ngFor="let item of amenities; let i = index" [class.active]="i === currentAmenityIndex"
                  (click)="goToAmenity(i)">
                  {{ i + 1 }}
                </button>
              </div>
            </div>
          </div>
  
          <button class="slider-arrow right" (click)="nextAmenity()">›</button>
        </div>
      </div>
    </section>
  
  </div>