<div class="page-shell">

  <!-- HERO -->
  <!-- <section class="hero" data-aos="zoom-in">
    <video src="/imgs/project-1/hill-view.mp4" autoplay loop muted playinline class="home-page-video"></video>

    <video src="/imgs/project-1/sharanya_hillview_bannervid_mob.mp4" autoplay loop muted playinline
      class="home-page-video-mob"></video>
  </section> -->
  <div class="banner-video">
    <ng-container *ngIf="showBannerVideo; else bannerPoster">
      <div class="video-wrapper">
        <video #desktopVideo src="/imgs/project-1/hill-view.mp4" autoplay loop muted playsinline preload="auto"
          poster="/imgs/project-1/hill-view-poster-img.png">
        </video>

        <button (click)="toggleMute(desktopVideo)" class="mute-btn">
          {{ desktopVideo?.muted ? '🔇' : '🔊' }}
        </button>
      </div>
    </ng-container>

    <ng-template #bannerPoster>
      <img src="/imgs/project-1/hill-view-poster-img.png" alt="Banner" class="banner-img" />
    </ng-template>
  </div>

  <div class="res-video">
    <ng-container *ngIf="showMobileVideo; else mobilePoster">
      <video #mobileVideo src="/imgs/project-1/sharanya_hillview_bannervid_mob.mp4" autoplay loop muted playsinline
        preload="auto" poster="/imgs/project-1/hill-view-poster-res-img.png" class="home-page-video-mob">
      </video>

      <button (click)="toggleMute(mobileVideo)" class="mute-btn">
        {{ mobileVideo?.muted ? '🔇' : '🔊' }}
      </button>
    </ng-container>

    <ng-template #mobilePoster>
      <img src="/imgs/project-1/hill-view-poster-res-img.png" alt="Mobile banner" class="res-banner-img" />
    </ng-template>
  </div>

  <!-- ABOUT -->
  <section class="about" id="about">
    <div class="container">
      <div class="about-top">
        <div class="about-left" data-aos="fade-right">
          <h2>Managed Farmplots<br />With Private Hillview Farms</h2>
          <button class="cta-btn-1" (click)="scrollToSection('contact')">Get Started</button>
        </div>

        <div class="about-right" data-aos="fade-left">
          <p>
            Sharanya Hillview Farms is a nature-friendly getaway near Mysore designed for those seeking peace, greenery,
            and value. With sandalwood plantations and lush surroundings, it's an ideal destination for weekend
            retreats, remote working, or mindful farming.
          </p>
        </div>

        <button class="cta-btn-2" (click)="scrollToSection('contact')">Get Started</button>

      </div>

      <div class="about-cards">
        <div class="card big">
          <div class="content-align">
            <h3>List of Common Amenities</h3>
            <ul>
              <li>Clubhouse </li>
              <li>Common Kitchen Veg and Non-Veg Separate</li>
              <li>Swimming pool</li>
              <li>Complete Resort with 5000 sq.ft. Clubhouse</li>
              <li>Meditation Center</li>
              <li> Children play area</li>
              <li>Outdoor games (Cricket, Shuttle cock, Volley ball, Etc.,)</li>
              <li>Indoor games (Table tennis, Carrom, Chess, etc.)</li>
              <li>Event Space/lawn for small functions like birthday, anniversary etc.</li>
            </ul>

          </div>

          <div class="img">
            <img src="imgs/project-1/plant.png" alt="plant">
          </div>
        </div>

        <div class="feature-card small" data-aos="fade-up" data-aos-delay="100">
          <h3>Crops and Plantation details </h3>
          <p>Phase 1 - Existing 15 -20 years old mango and Teak plantation and Some plots
            contain 2-year-old Sandalwood and Mahagony plantation
          </p>
        </div>

        <div class="feature-card small" data-aos="fade-up" data-aos-delay="200">
          <h3>Crops and Plantation details </h3>
          <p>Phase 2 – plots come with 1 year old Sandalwood and Mix Fruit trees which are
            already planted.

          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- BANNER -->
  <section class="banner">
    <div class="banner-image">
      <!-- <img src="imgs/project-1/hillview.png" alt="banner"/> -->
    </div>

    <div class="banner-content" data-aos="zoom-in-up">
      <h2>A Symphony Of Nature’s Bounty.</h2>
      <p>Where Nature’s Wisdom Embraces Us And The Land Blooms With Abundance</p>
      <button class="cta-btn white" (click)="goToImagePage()">
        Discover it in real time
        <span><img src="imgs/project-1/arrow.png" alt=""></span>
      </button>
    </div>

    <div class="stats-bar" data-aos="fade-up">
      <div class="stat-item">
        <img src="/imgs/project-1/land.png" alt="land">
        <div class="para">
          <p>Total Land</p>
        </div>
        <div class="head">
          <h3> 51Acres <br> (Phase 1- 91 plots, <br>Phase 2 – 99 plots)</h3>
        </div>
      </div>
      <div class="stat-item">
        <img src="/imgs/project-1/home.png" alt="">
        <p>Premium Plots</p>
        <h3>86</h3>
      </div>
      <div class="stat-item">
        <img src="/imgs/project-1/scale.png" alt="">
        <p>Plot Sizes</p>

        <h3>5989 – 10890 sq.ft.</h3>
      </div>
      <div class="stat-item">
        <img src="/imgs/project-1/right.png" alt="">
        <p>Plot Sold</p>

        <h3>Phase 1- 85 plots, <br> Phase 2- 44 plots</h3>
      </div>
      <div class="stat-item">
        <img src="/imgs/project-1/lock.png" alt="">
        <p>Available</p>
        <h3>Phase 1- 6 plots, <br> Phase 2- 55 plots</h3>
      </div>
    </div>
  </section>

  <!-- HIGHLIGHTS -->
  <section class="highlights" id="projects">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>Amenities</h2>
        <p>Premium community lifestyle with leisure, dining, and sports facilities. Enjoy our clubhouse, swimming pool,
          and wooden cottages.</p>
      </div>

      <div class="highlight-grid">
        <div class="highlight-card" *ngFor="let card of highlights; let i = index" data-aos="fade-up"
          [attr.data-aos-delay]="i * 80">
          <div class="icon-head">
            <div class="highlight-icon"><img [src]="card.icon" alt="icon"></div>
            <small>{{ card.label }}</small>
          </div>
          <p *ngIf="(card.description)">{{ card.description }}</p>
          <ul>
            <li *ngFor="let point of card.points">{{ point }}</li>
          </ul>
        </div>
      </div>
    </div>


    <!-- AMENITIES -->
    <div class="amenities-slider">
      <button class="slider-arrow left" (click)="prevAmenity()" [disabled]="currentAmenityIndex === 0">
        ‹
      </button>

      <div class="slider-window">
        <div class="slides" [style.transform]="'translateX(-' + translateX + 'px)'">
          <div class="slide" *ngFor="let item of amenities">
            <img [src]="item.image" />
          </div>
        </div>
      </div>

      <button class="slider-arrow right" (click)="nextAmenity()"
        [disabled]="currentAmenityIndex >= amenities.length - visibleCount">
        ›
      </button>
    </div>
  </section>

  <div class="form-part">
    <div class="form" id="contact">
      <app-page-form></app-page-form>
    </div>
    <div class="video">
      <video src="/imgs/form-video.mp4" autoplay loop muted playinline></video>
    </div>
  </div>