<button class="back-btn" (click)="goBack()">← Back</button>

<div class="layout-container">

    <img src="imgs/project-1/sandal.png" class="layout-image">
  
    <div
      class="plot"
      *ngFor="let plot of plots"
      [style.top.%]="plot.top"
      [style.left.%]="plot.left"
      (mouseenter)="hoverPlot(plot)"
      (mouseleave)="leavePlot()"
    >
    </div>
  
    <!-- Tooltip -->
    <div 
      class="tooltip" 
      *ngIf="activePlot"
      [style.top.%]="activePlot.top"
      [style.left.%]="activePlot.left"
    >
      <strong>{{activePlot.name}}</strong><br>
      {{activePlot.description}}
    </div>
  
  </div>
