<div class="page-shell">

  <!-- HERO -->
  <!-- <section class="hero" data-aos="zoom-in">
    <video src="/imgs/project-1/sharanya_weekend_bannervid.mp4" autoplay loop muted playinline
      class="home-page-video"></video>

    <video src="/imgs/project-1/sharanya_weekend_bannervid_mob.mp4" autoplay loop muted playinline
      class="home-page-video-mob"></video>
  </section> -->

  <div class="banner-video">
    <ng-container *ngIf="showBannerVideo; else bannerPoster">
      <div class="video-wrapper">
        <video #desktopVideo src="/imgs/project-1/sharanya_weekend_bannervid.mp4" autoplay loop muted playsinline
          preload="auto" poster="/imgs/project-1/weekend-poster-img.png" class="home-page-video">
        </video>

        <button (click)="toggleMute(desktopVideo)" class="mute-btn">
          {{ desktopVideo?.muted ? '🔇' : '🔊' }}
        </button>
      </div>
    </ng-container>

    <ng-template #bannerPoster>
      <img src="/imgs/project-1/weekend-poster-img.png" alt="Banner" class="banner-img" />
    </ng-template>
  </div>

  <div class="res-video">
    <ng-container *ngIf="showMobileVideo; else mobilePoster">
      <video #mobileVideo src="/imgs/project-1/sharanya_weekend_bannervid_mob.mp4" autoplay loop muted playsinline
        preload="auto" poster="/imgs/project-1/weekend-poster-res-img.png">
      </video>
      <button (click)="toggleMute(mobileVideo)" class="mute-btn">
        {{ mobileVideo?.muted ? '🔇' : '🔊' }}
      </button>
    </ng-container>

    <ng-template #mobilePoster>
      <img src="/imgs/project-1/weekend-poster-res-img.png" alt="Mobile banner" class="res-banner-img" />
    </ng-template>
  </div>

  <!-- ABOUT -->
  <section class="about" id="about">
    <div class="container">
      <div class="about-top">
        <div class="about-left" data-aos="fade-right">
          <h1>Managed Farmplots<br />With Private Weekend Village</h1>
          <button class="cta-btn-1" (click)="scrollToSection('contact')">Get Started</button>
        </div>

        <div class="about-right" data-aos="fade-left">
          <p>
            We love nature and are unified as a team to preserve it. At Sharanya Farms, we believe that nature should be
            an integral part of our everyday lives and in the lives of future generations. We have developed farmland
            properties and the infrastructure for you to enjoy your time in the thick of nature near your farmhouse. We
            feel delighted in providing people with an opportunity to connect with nature at Sharanya Farms.
          </p>
        </div>

        <button class="cta-btn-2" (click)="scrollToSection('contact')">Get Started</button>

      </div>

      <div class="about-cards">
        <div class="card big">
          <div class="content-align">
            <h3>List of Common Amenities</h3>
            <ul>
              <li>Clubhouse </li>
              <li>Common Kitchen Veg and Non-Veg Separate </li>
              <li>Swimming pool </li>
              <li>Dormitory stay </li>
              <li>Wooden Cottages </li>
              <li>Meditation Center </li>
              <li>Children play area </li>
              <li>Outdoor games (Cricket, Shuttle cock, Volley ball, Etc.,) </li>
              <li>Indoor games (Table tennis, Carrom, Chess, etc.) </li>
              <li>Event Space/lawn for small functions like birthday,anniversary etc. </li>
            </ul>

          </div>

          <div class="img">
            <img src="imgs/project-1/plant.png" alt="Mango and coconut plantation at Sharanya Weekend Village farmland">
          </div>
        </div>

        <div class="feature-card small" data-aos="fade-up" data-aos-delay="100">
          <h3>Crops and Plantation details </h3>
          <p> Existing 15 -20 years old mango and coconut plantation and Mahagony and other
            fuits planation on the open spaces
          </p>
        </div>

        <div class="feature-card small" data-aos="fade-up" data-aos-delay="200">
          <h3>Crops and Plantation details </h3>
          <p> Plots are already existing with coconut and mango trees and few plots are empty
            where we have planted mahogany and few fruiting trees.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- BANNER -->
  <section class="banner">
    <div class="banner-image">
      <!-- <img src="imgs/project-1/hillview.png" alt="banner"/> -->
    </div>

    <div class="banner-content" data-aos="zoom-in-up">
      <h2>A Symphony Of Nature’s Bounty.</h2>
      <p>Where Nature’s Wisdom Embraces Us And The Land Blooms With Abundance</p>
      <button class="cta-btn white" (click)="goToImagePage()">
        Discover it in real time
        <span><img src="imgs/project-1/arrow.png" alt="Arrow icon to explore Weekend Village farmland project"></span>
      </button>
    </div>

    <div class="stats-bar" data-aos="fade-up">
      <div class="stat-item">
        <img src="/imgs/project-1/land.png" alt="Total farmland area in Sharanya Weekend Village project">
        <div class="para">
          <p>Total Land</p>
        </div>
        <div class="head">
          <h3>25 Acres</h3>
        </div>
      </div>
      <div class="stat-item">
        <img src="/imgs/project-1/home.png" alt="Total farmland area in Sharanya Weekend Village project">
        <p>Premium Plots</p>
        <h3>86</h3>
      </div>
      <div class="stat-item">
        <img src="/imgs/project-1/scale.png" alt="Premium farmland plots in Weekend Village project">
        <p>Plot Sizes</p>

        <h3>5989 - 10890 sq.ft</h3>
      </div>
      <div class="stat-item">
        <img src="/imgs/project-1/right.png" alt="Plot size details for Weekend Village farmland investment">
        <p>Plot Sold</p>

        <h3>66</h3>
      </div>
      <div class="stat-item">
        <img src="/imgs/project-1/lock.png" alt="Sold plots count in Sharanya Weekend Village farmland">
        <p>Available</p>
        <h3>20</h3>
      </div>
    </div>
  </section>

  <!-- HIGHLIGHTS -->
  <section class="highlights" id="projects">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>Amenities</h2>
        <p>Premium community lifestyle with leisure, dining, and sports facilities. Enjoy our clubhouse, swimming pool,
          and wooden cottages.</p>
      </div>

      <div class="highlight-grid">
        <div class="highlight-card" *ngFor="let card of highlights; let i = index" data-aos="fade-up"
          [attr.data-aos-delay]="i * 80">
          <div class="icon-head">
            <div class="highlight-icon"><img [src]="card.icon" [alt]="card.alt"></div>
            <small>{{ card.label }}</small>
          </div>
          <p *ngIf="(card.description)">{{ card.description }}</p>
          <ul>
            <li *ngFor="let point of card.points">{{ point }}</li>
          </ul>
        </div>
      </div>
    </div>


    <!-- AMENITIES -->
    <div class="amenities-slider">
      <button class="slider-arrow left" (click)="prevAmenity()" [disabled]="currentAmenityIndex === 0">
        ‹
      </button>

      <div class="slider-window">
        <div class="slides" [style.transform]="'translateX(-' + translateX + 'px)'">
          <div class="slide" *ngFor="let item of amenities">
            <img [src]="item.image" [alt]="item.alt" />
          </div>
        </div>
      </div>

      <button class="slider-arrow right" (click)="nextAmenity()"
        [disabled]="currentAmenityIndex >= amenities.length - visibleCount">
        ›
      </button>
    </div>
  </section>

  <div class="form-part">
    <div class="form" id="contact">
      <app-page-form [addressData]="{
        text:'Weekend Village – Shravanabelagola (120 km from Bangalore)',
        mapLink:'https://maps.app.goo.gl/RD4xu8VKAJZQJN296',
        embedMapLink:'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3890.9474782831535!2d76.4901249!3d12.7819212!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baf8bde82aab07b%3A0xa7cb49c5f0746e93!2sSharanya%20Farms!5e0!3m2!1sen!2sin!4v1774682525705!5m2!1sen!2sin'
      }"></app-page-form>
    </div>
    <div class="video">
      <video src="/imgs/form-video.mp4" autoplay loop muted playinline></video>
    </div>
  </div>
</div>