<div class="about-page">
    <div class="banner-part">
        <div class="banner-imgs">
            <div class="col">
                <img src="/imgs/about/img-1.png" alt="Coconut trees with fresh produce at Sharanya Farms farmland">
                <img src="/imgs/about/img-2.png" alt="Ducks walking in natural farm environment at Sharanya Farms">

                <img src="/imgs/about/img-3.png" alt="Farmhouse surrounded by greenery at Sharanya Farms project">
                <img src="/imgs/about/img-4.png" alt="Farm utility structure with landscaped garden area">
                <img src="/imgs/about/img-5.png" alt="Outdoor seating area in landscaped farmland environment">
                <img src="/imgs/about/img-2.png" alt="Ducks walking in eco friendly farmland environment">

                <img src="/imgs/about/img-1.png" alt="Coconut plantation area in Sharanya Farms project">
                <img src="/imgs/about/img-2.png" alt="Farm ducks walking in natural green environment">
            </div>

            <div class="col">
                <img src="/imgs/about/img-6.png" alt="Jackfruit growing on tree in Sharanya Farms plantation">
                <img src="/imgs/about/img-7.png" alt="Tree plantation area with organized farming layout">

                <img src="/imgs/about/img-8.png" alt="Garden pathway with seating in farmland community">
                <img src="/imgs/about/img-9.png" alt="Open green farmland with trees and natural surroundings">
                <img src="/imgs/about/img-10.png" alt="Swimming pool facility within Sharanya Farms project">
                <img src="/imgs/about/img-4.png" alt="Landscaped garden space inside farmland project">

                <img src="/imgs/about/img-3.png" alt="Farmhouse surrounded by trees and greenery">
                <img src="/imgs/about/img-4.png" alt="Green garden area within managed farmland">
            </div>

            <div class="col">
                <img src="/imgs/about/img-11.png" alt="Wooden farmhouse cottage in natural farmland setting">
                <img src="/imgs/about/img-12.png" alt="Water feature with landscaped surroundings in farmland">

                <img src="/imgs/about/img-13.png" alt="Garden arch with tree plantation in farmland project">
                <img src="/imgs/about/img-14.png" alt="Fenced farmland pathway with greenery on both sides">
                <img src="/imgs/about/img-15.png" alt="Young plantation crops growing in farmland layout">
            </div>

            <div class="col">
                <img src="/imgs/about/img-16.png" alt="Mango fruit growing on tree in farm plantation">
                <img src="/imgs/about/img-17.png" alt="Internal road surrounded by trees in farmland project">

                <img src="/imgs/about/img-18.png" alt="Yellow flowering plant in Sharanya Farms landscape">
                <img src="/imgs/about/img-19.png" alt="Indoor recreational setup at Sharanya Farms clubhouse">
                <img src="/imgs/about/img-20.png" alt="Plantation area with tall trees in managed farmland">
            </div>

            <div class="col">
                <img src="/imgs/about/img-21.png" alt="Dense green tree canopy in farmland project">
                <img src="/imgs/about/img-22.png" alt="Raw mangoes growing on tree in farm plantation">

                <img src="/imgs/about/img-23.png" alt="Entrance building of Sharanya Farms project">
                <img src="/imgs/about/img-24.png" alt="Organized farmland rows with plantation crops">
                <img src="/imgs/about/img-25.png" alt="Coconut cluster growing in Sharanya Farms plantation">
            </div>

            <div class="col">
                <img src="/imgs/about/img-26.png" alt="Coconut tree with mature fruits in farmland">
                <img src="/imgs/about/img-27.png" alt="Central tree plantation area in farmland layout">

                <img src="/imgs/about/img-28.png" alt="Young plant growing in managed farmland project">
                <img src="/imgs/about/img-29.png" alt="Flowering plant blooming in green farmland area">
                <img src="/imgs/about/img-30.png" alt="Fruit growing on tree in Sharanya Farms plantation">
            </div>
        </div>

        <div class="banner-imgs-resp">
            <div class="col1">
                <img src="/imgs/about/img-1.png" alt="Coconut trees with fresh produce at Sharanya Farms farmland">
                <img src="/imgs/about/img-2.png" alt="Ducks walking in natural farm environment at Sharanya Farms">
                <img src="/imgs/about/img-3.png" alt="Farmhouse surrounded by greenery at Sharanya Farms project">
                <img src="/imgs/about/img-4.png" alt="Farm utility structure with landscaped garden area">
                <img src="/imgs/about/img-5.png" alt="Outdoor seating area in landscaped farmland environment">
                <img src="/imgs/about/img-6.png" alt="Jackfruit growing on tree in Sharanya Farms plantation">
                <img src="/imgs/about/img-7.png" alt="Tree plantation area with organized farming layout">
                <img src="/imgs/about/img-8.png" alt="Garden pathway with seating in farmland community">
                <img src="/imgs/about/img-9.png" alt="Open green farmland with trees and natural surroundings">
                <img src="/imgs/about/img-10.png" alt="Swimming pool facility within Sharanya Farms project">
                <img src="/imgs/about/img-21.png" alt="Dense green tree canopy in farmland project">
                <img src="/imgs/about/img-22.png" alt="Raw mangoes growing on tree in farm plantation">
                <img src="/imgs/about/img-23.png" alt="Entrance building of Sharanya Farms project">
                <img src="/imgs/about/img-24.png" alt="Organized farmland rows with plantation crops">
                <img src="/imgs/about/img-25.png" alt="Coconut cluster growing in Sharanya Farms plantation">
                <img src="/imgs/about/img-26.png" alt="Coconut tree with mature fruits in farmland">
            </div>

            <div class="col1">
                <img src="/imgs/about/img-11.png" alt="Wooden farmhouse cottage in natural farmland setting">
                <img src="/imgs/about/img-12.png" alt="Water feature with landscaped surroundings in farmland">
                <img src="/imgs/about/img-13.png" alt="Garden arch with tree plantation in farmland project">
                <img src="/imgs/about/img-14.png" alt="Fenced farmland pathway with greenery on both sides">
                <img src="/imgs/about/img-15.png" alt="Young plantation crops growing in farmland layout">
                <img src="/imgs/about/img-16.png" alt="Mango fruit growing on tree in farm plantation">
                <img src="/imgs/about/img-17.png" alt="Internal road surrounded by trees in farmland project">
                <img src="/imgs/about/img-18.png" alt="Yellow flowering plant in Sharanya Farms landscape">
                <img src="/imgs/about/img-19.png" alt="Indoor recreational setup at Sharanya Farms clubhouse">
                <img src="/imgs/about/img-20.png" alt="Plantation area with tall trees in managed farmland">
                <img src="/imgs/about/img-2.png" alt="Ducks walking in eco friendly farmland environment">
                <img src="/imgs/about/img-1.png" alt="Coconut plantation area in Sharanya Farms project">
                <img src="/imgs/about/img-4.png" alt="Garden space with greenery inside farmland project">
                <img src="/imgs/about/img-5.png" alt="Relaxation seating area in farm landscape environment">
                <img src="/imgs/about/img-6.png" alt="Jackfruit tree with fruits in farmland plantation">
                <img src="/imgs/about/img-7.png" alt="Organized plantation rows in managed farmland">
                <img src="/imgs/about/img-8.png" alt="Pathway with seating area in green farmland">
                <img src="/imgs/about/img-9.png" alt="Open farmland with trees and natural sunlight">
                <img src="/imgs/about/img-10.png" alt="Swimming pool inside farmland lifestyle project">
                <img src="/imgs/about/img-22.png" alt="Mangoes growing on tree in Sharanya Farms">
                <img src="/imgs/about/img-21.png" alt="Green dense trees in farmland plantation area">
                <img src="/imgs/about/img-26.png" alt="Coconut tree with fresh fruits in farmland">
                <img src="/imgs/about/img-18.png" alt="Blooming yellow flowers in farm landscape">
                <img src="/imgs/about/img-23.png" alt="Main entrance building of Sharanya Farms">
            </div>

            <div class="col1">
                <img src="/imgs/about/img-21.png" alt="Dense plantation trees in Sharanya Farms project">
                <img src="/imgs/about/img-22.png" alt="Raw mango cluster growing on farm tree">
                <img src="/imgs/about/img-23.png" alt="Sharanya Farms entrance with building view">
                <img src="/imgs/about/img-24.png" alt="Neatly arranged farmland plantation rows">
                <img src="/imgs/about/img-25.png" alt="Coconut bunch hanging on tree in farmland">
                <img src="/imgs/about/img-26.png" alt="Tall coconut tree in managed farmland">
                <img src="/imgs/about/img-27.png" alt="Central plantation area with tree in farmland">
                <img src="/imgs/about/img-28.png" alt="Young plant growing in farmland soil">
                <img src="/imgs/about/img-29.png" alt="Flower plant blooming in green farmland area">
                <img src="/imgs/about/img-30.png" alt="Fruit growing on tree in Sharanya Farms">
                <img src="/imgs/about/img-1.png" alt="Coconut trees in managed farmland project">
                <img src="/imgs/about/img-3.png" alt="Farmhouse surrounded by trees and greenery">
                <img src="/imgs/about/img-2.png" alt="Farm ducks walking in natural environment">
                <img src="/imgs/about/img-5.png" alt="Outdoor seating space in farmland community">
                <img src="/imgs/about/img-12.png" alt="Water feature inside landscaped farmland">
                <img src="/imgs/about/img-7.png" alt="Tree plantation rows in farmland project">
                <img src="/imgs/about/img-10.png" alt="Swimming pool in farmland lifestyle project">
                <img src="/imgs/about/img-9.png" alt="Open green farmland with sunlight and trees">
                <img src="/imgs/about/img-19.png" alt="Indoor game setup in Sharanya Farms clubhouse">
                <img src="/imgs/about/img-9.png" alt="Wide farmland landscape with natural greenery">
                <img src="/imgs/about/img-10.png" alt="Modern pool facility inside farmland project">
                <img src="/imgs/about/img-11.png" alt="Wooden cottage in green farmland setting">
            </div>
        </div>

        <div class="banner-wrapper">

            <div class="banner-part">
            </div>

            <div class="banner-content">
                <h1 class="banner-heading">
                    CRAFTING FARMLAND DREAMS <br> INTO REALITY
                </h1>

                <div class="banner-para">
                    Ready to Own a Farm Land.
                </div>
            </div>

        </div>
    </div>

    <div class="news-part">

        <div class="news-track">

            <div class="channels" *ngFor="let chan of channels">
                <img src="/imgs/about/dot.png" alt="bullet point image">

                <img [src]="chan.img" [alt]="chan.alt">
                <div class="chanel-name">{{chan.name}}</div>
            </div>

            <div class="channels" *ngFor="let chan of channels">
                <img src="/imgs/about/dot.png" alt="bullet point image">

                <img [src]="chan.img" [alt]="chan.alt">
                <div class="chanel-name">{{chan.name}}</div>
            </div>

        </div>

    </div>

    <div class="areas-part">
        <div class="ares-banner">
            <img src="/imgs/about/banner-img.png" alt="Sharanya Farms managed farmland with greenery and natural landscape view">
        </div>
        <div class="areas-content">
            <h2 class="ares-heading">OUR MISSION - IN 3 KEY FOCUS AREAS</h2>

            <div class="ares-cards">
                <div class="ares-card" *ngFor="let card of card">
                    <div class="card-heading">{{card.heading}}</div>
                    <div class="card-para">{{card.para}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="way-part">
        <div class="left-side">
            <div class="way-heading">
                WE ARE DIFFERENT IN EVERY WAY
            </div>

            <div class="way-para">
                Book a guided tour to explore our farmland projects and understand the layout.
            </div>

            <div class="left-button" (click)="scrollToForm()">
                Get Started
            </div>
        </div>

        <div class="right-side" [style.background]="slides[current].color">

            <div class="number">
                <span class="current">
                    {{current + 1 | number:'2.0'}}
                </span>
                <span class="total">
                    /{{slides.length | number:'2.0'}}
                </span>
            </div>

            <div class="right-heading">
                {{slides[current].title}}
            </div>

            <div class="right-para">
                {{slides[current].desc}}
            </div>

            <div class="arrows">
                <button (click)="prev()"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                        viewBox="0 0 20 20" fill="none">
                        <path
                            d="M13.3836 2.04498C13.618 2.27939 13.7496 2.59729 13.7496 2.92877C13.7496 3.26024 13.618 3.57814 13.3836 3.81256L7.1961 10.0001L13.3836 16.1876C13.6041 16.4245 13.7242 16.7377 13.7185 17.0613C13.7128 17.3849 13.5818 17.6937 13.3531 17.9227C13.1243 18.1517 12.8157 18.283 12.4921 18.2891C12.1685 18.2951 11.8551 18.1754 11.618 17.9551L4.54571 10.8848C4.31135 10.6504 4.17969 10.3325 4.17969 10.001C4.17969 9.66956 4.31135 9.35166 4.54571 9.11724L11.616 2.04498C11.8504 1.81061 12.1683 1.67896 12.4998 1.67896C12.8313 1.67896 13.1492 1.81061 13.3836 2.04498Z"
                            fill="white" />
                    </svg></button>
                <button (click)="next()"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                        viewBox="0 0 20 20" fill="none">
                        <path
                            d="M6.6164 2.04498C6.38204 2.27939 6.25038 2.59729 6.25038 2.92877C6.25038 3.26024 6.38204 3.57814 6.6164 3.81255L12.8039 10.0001L6.6164 16.1876C6.39586 16.4245 6.27581 16.7377 6.28151 17.0613C6.2872 17.3849 6.4182 17.6937 6.64694 17.9227C6.87568 18.1517 7.18433 18.283 7.50793 18.2891C7.83154 18.2951 8.14488 18.1754 8.38202 17.9551L15.4543 10.8848C15.6887 10.6504 15.8203 10.3325 15.8203 10.001C15.8203 9.66956 15.6887 9.35165 15.4543 9.11724L8.38398 2.04498C8.14956 1.81061 7.83166 1.67896 7.50019 1.67896C7.16871 1.67896 6.85081 1.81061 6.6164 2.04498Z"
                            fill="white" />
                    </svg></button>
            </div>

        </div>

    </div>
    <div class="form-part">
        <div class="form" id="form-section">
            <app-page-form [addressData]="{
            text:'#1582, Samarth Arcade, 3rd Floor, BEML, 5th stage, H V Halli Double Road,Rajarajeshwari Nagar, Bangalore -560098',
            mapLink:'https://www.google.com/maps/place/Sharanya+Farms/@12.7819212,76.4901249,17z/data=!3m1!4b1!4m6!3m5!1s0x3baf8bde82aab07b:0xa7cb49c5f0746e93!8m2!3d12.7819212!4d76.4901249!16s%2Fg%2F11fmmdm7wk!17m2!4m1!1e3!18m1!1e1?entry=ttu&g_ep=EgoyMDI2MDMwMS4xIKXMDSoASAFQAw%3D%3D',
            embedMapLink:''
        }"></app-page-form>
        </div>


        <div class="video">
            <video src="/imgs/form-video.mp4" autoplay loop muted playinline></video>
        </div>


        <!-- <app-footer></app-footer> -->
    </div>