<div class="">
  <!-- <app-contact></app-contact> -->
   <!-- <app-register-form></app-register-form> -->
   
     <!-- <app-page-form></app-page-form> -->
      <!-- <p-toast position="top-right"></p-toast> -->
      <app-nav-bar *ngIf="showLayout"></app-nav-bar>
      <router-outlet></router-outlet>
     <app-footer *ngIf="showLayout"></app-footer>

     <!-- <app-home-page></app-home-page> -->
      <!-- <app-about-page></app-about-page> -->

      <!-- <app-gallery-page></app-gallery-page> -->
</div>