<div class="nav" [class.scrolled]="isScrolled" [class.banner]="isBanner">

    <div class="nav-bar">



        <div class="menu-icon" (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>


        <a class="links" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink=""
            (click)="closeProjects()">
            HOME
        </a>

        <a class="links" routerLinkActive="active" routerLink="/about" (click)="closeProjects()">
            ABOUT
        </a>

        <!-- <a class="links" routerLinkActive="active" routerLink="/projects" (click)="toggleProjects()">
            PROJECTS
        </a> -->

        <div class="projects-dropdown dropdown-overlay" *ngIf="showProjects">

            <div class="projects-container">

                <div class="project-card big" (click)="closeProjects()" routerLink="/sandalvalley">
                    <img src="/imgs/sandal-valley.png">
                    <div class="project-title">Sharanya Sandal Valley Farms</div>
                </div>

                <div class="right-projects">

                    <div class="project-card small" (click)="closeProjects()" routerLink="/hillview">
                        <img src="/imgs/hill-view.png">
                        <div class="project-title">Sharanya Hillview Farms</div>
                    </div>

                    <div class="project-card small" (click)="closeProjects()" routerLink="/weekendvillage">
                        <img src="/imgs/weekend-village.png">
                        <div class="project-title">Sharanya Weekend Village</div>
                    </div>

                </div>

            </div>

        </div>

        

        <a class="links" routerLinkActive="active" routerLink="/gallery">
            GALLERY
        </a>

        <img src="/imgs/nav-logo.png" routerLink="">

        <a class="links" href="https://www.sharanyafarms.com/blogs/" target="_blank" routerLinkActive="active">
            BLOGS
        </a>

        <a class="links" routerLinkActive="active" [routerLink]="['/contact']">
            CONTACT US
        </a>

    </div>

</div>

<div class="page-overlay" *ngIf="showProjects" (click)="closeProjects()"></div>


<!-- SIDE MENU -->
<div class="mobile-menu" [class.open]="menuOpen">

    <div class="close-btn" (click)="toggleMenu()">✕</div>

    <a routerLink="" (click)="toggleMenu()">HOME</a>
    <a routerLink="/about" (click)="toggleMenu()">ABOUT</a>
    <!-- <a class="mobile-projects" (click)="toggleMobileProjects()">
        PROJECTS
    </a> -->

    <div class="mobile-project-dropdown" *ngIf="showMobileProjects">

        <div class="mobile-project-card" (click)="toggleMenu()" routerLink="/sandalvalley">
            <img src="/imgs/sandal-valley.png">
            <span>Sharanya Sandal Valley Farms</span>
        </div>

        <div class="mobile-project-card" (click)="toggleMenu()" routerLink="/hillview">
            <img src="/imgs/hill-view.png">
            <span>Sharanya Hillview Farms</span>
        </div>

        <div class="mobile-project-card" (click)="toggleMenu()" routerLink="/weekendvillage">
            <img src="/imgs/weekend-village.png">
            <span>Sharanya Weekend Village</span>
        </div>

    </div>
    <a routerLink="/gallery" (click)="toggleMenu()">GALLERY</a>
    <a href="https://www.sharanyafarms.com/blogs/" target="_blank" routerLinkActive="active" (click)="toggleMenu()">
        BLOGS
    </a>
    <a routerLink="/contact" (click)="toggleMenu()">CONTACT US</a>

</div>